---
import { getCollection } from "astro:content";

import Landing from "@layouts/Landing.astro";
import Card from "@components/Card.astro";
import Link from "@components/Link.astro";

const stacks = await getCollection("stack");
const tags = [...new Set([...stacks.map(stack => stack.data.tags)].flat())]
---

<Landing title="Anysome | Landing Page">
  <section>
    <h2>Anysome</h2>
    <p>ジャンルを問わないAwesomeリスト</p>
  </section>
  <section>
    <h2>tags</h2>
    <div>
      {tags.map(tag => <Link href={`tag/${tag}`}>{tag}</Link>)}
    </div>
  </section>
  <section>
    <h2>List</h2>
    <div>
      {
        stacks.map((stack) => (
          <Card name={stack.data.name} icon={stack.data.icon} href={stack.slug}>
            {stack.data.description}
          </Card>
        ))
      }
    </div>
  </section>
</Landing>
