---
export interface Props {
  title: string;
  number?: number;
}

const { title, number = 1 } = Astro.props;
---

<hgroup data-title>
  {
    ((number) => {
      switch (number) {
        case 1:
          return <h1>{title}</h1>;
        case 2:
          return <h2>{title}</h2>;
        case 3:
          return <h3>{title}</h3>;
        case 4:
          return <h4>{title}</h4>;
        case 5:
          return <h5>{title}</h5>;
        case 6:
          return <h6>{title}</h6>;
      }
    })(number)
  }
  <p><slot /></p>
</hgroup>

<style lang="sass">
  @use "../styles/api.sass" as api

  [data-title]
    text-align: center

    h1
      @include api.fonts(4rem, "auto")
    p
      @include api.fonts(2rem, "auto")
</style>
