---
import { Stack } from "@scripts/stack-meta.ts";

import Heading from "@components/details/Heading.astro";
import StackIcon from "@components/details/StackIcon.astro";
import TagList from "@components/details/TagList.astro";

import LinkList from "@components/details/LinkList.astro";

export interface Props {
  frontmatter: Stack;
}

const { frontmatter } = Astro.props;

const parsedFrontmatter = Stack.parse(frontmatter);

import Base from "@layouts/Base.astro";
import "@styles/stack-page.styl"
---

<Base className="flex flex-col gap-12 justify-center items-center" title={`${parsedFrontmatter.name} | Anysome`}>
  <header class="flex flex-col gap-6 justify-center">
    <section>
      {parsedFrontmatter.icon && <StackIcon icon={parsedFrontmatter.icon} />}
      <Heading title={parsedFrontmatter.name}>{parsedFrontmatter.description}</Heading>
    </section>
    <section>
      <TagList tagList={parsedFrontmatter.tags} />
    </section>
    <section>
      <LinkList website={parsedFrontmatter.website} source={parsedFrontmatter.repository}  />
    </section>
  </header>
  <section class="main-content my-8 px-4 md:px-8">
    <slot />
  </section>
</Base>
