---
import { Stack } from "../../scripts/stack-meta";

import { Icon } from "astro-icon/components";

export interface Props {
  frontmatter: Stack;
}

const { frontmatter } = Astro.props;

const parsedFrontmatter = Stack.parse(frontmatter);

import Base from "@layouts/Base.astro";
---

<Base title={`${parsedFrontmatter.name} | Anysome`}>
  <header>
    <section>
      {
        parsedFrontmatter.icon &&
          (parsedFrontmatter.icon.startsWith("url:") ? (
            <img class="stack-card-icon" src={parsedFrontmatter.icon.slice(4)} alt="icon" />
          ) : (
            <Icon name={parsedFrontmatter.icon} />
          ))
      }
      <hgroup>
        <h1 data-pagefind-meta="name">{parsedFrontmatter.name}</h1>
        <p data-pagefind-meta="description">{parsedFrontmatter.description}</p>
      </hgroup>
    </section>
    <section>
      <div>
        {
          parsedFrontmatter.tags.map((tag) => {
            <a href="/" data-pagefind-meta="tag">
              {tag}
            </a>;
          })
        }
      </div>
    </section>
    <section>
      <div>
        {
          parsedFrontmatter.website && (
            <a href="/" data-pagefind-meta="website">
              {parsedFrontmatter.website}
            </a>
          )
        }
        {
          parsedFrontmatter.repository && (
            <a href="/" data-pagefind-meta="repository">
              {parsedFrontmatter.repository}
            </a>
          )
        }
      </div>
    </section>
  </header>
  <slot />
</Base>
